body {
    padding-top: 5rem;
}

#images{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 1fr;
    gap: 5%;
}

#images img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}